In [128]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations
from itertools import chain

In [129]:
data = pd.read_csv('D:\Data Scientist_Skill Factory\Folders with data/Unit_1_Project/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
669,tt0497465,15000000,96408652,Vicky Cristina Barcelona,Scarlett Johansson|Rebecca Hall|Javier Bardem|...,Woody Allen,Life is the ultimate work of art,Two girlfriends on a summer holiday in Spain b...,96,Drama|Romance,The Weinstein Company|Gravier Productions|Ante...,8/15/2008,6.7,2008
1626,tt0299172,110000000,103951461,Home on the Range,Randy Quaid|Steve Buscemi|Judi Dench|Cuba Good...,Will Finn|John Sanford,Bust a Moo.,The Little Piece of Heaven family farm is abou...,76,Western|Animation|Family|Comedy|Music,Walt Disney Pictures|Walt Disney Feature Anima...,4/2/2004,5.8,2004
1636,tt0361467,15000000,29331068,Confessions of a Teenage Drama Queen,Lindsay Lohan|Adam Garcia|Glenne Headly|Alison...,Sara Sugarman,She's making a scene over everything.,"When the teenager Mary Elizabeth Steppe, a.k.a...",89,Music|Comedy|Family|Romance,Walt Disney Pictures,2/17/2004,5.1,2004
1814,tt0200550,45000000,113916474,Coyote Ugly,Piper Perabo|Adam Garcia|John Goodman|Izabella...,David McNally,This party never ends.,"Graced with a velvet voice, 21-year-old Violet...",100,Comedy,Jerry Bruckheimer Films|Touchstone Pictures,7/30/2000,6.0,2000
1103,tt0266465,36000000,44350926,A Man Apart,Vin Diesel|Larenz Tate|Timothy Olyphant|Geno S...,F. Gary Gray,Love changes a man. Revenge tears him apart.,When Vetter's wife is killed in a botched hit ...,109,Action|Drama,New Line Cinema|Newman/Tooley Films|Joseph Nit...,4/4/2003,5.7,2003

In [130]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [131]:
#%%writefile basic_imports.py

# Функции:
def most_frequent(List):# Функция определяет наиболее часто встречающийся элемент в списке.
    return max(set(List), key = List.count)

def revenue_transformation(x): # Функция возвращает значение для максимального элемента столбца и 'not_max' для остальных.
    if x == grouped_data['revenue'].max():
        return x
    else:
        return 'not_max'
    
def summer_movie_search(x): # Функция ищет фильмы вышедщие летом и ставит в столбце release_date 'summer'.
    x = str(x)
    if x[0] == '6':
        return 'summer'
    elif x[0] == '7':
        return 'summer'
    elif x[0] == '8':
        return 'summer'
    else:
        return x

def winter_movie_search(x):
    x = str(x)
    if x[0] == '12':
        return 'winter'
    elif x[0] == '1':
        return 'winter'
    elif x[0] == '2':
        return 'winter'
    else:
        return x

def profit_transformation(x): # Функция возвращает значение для максимального элемента столбца и 'not_max' для остальных.
    if x == grouped_data['profit'].max():
        return x
    else:
        return 'not_max'

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [74]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers = {} # создадим словарь для ответов
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# +

In [75]:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [76]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [77]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [78]:
answers['3'] = 'Winnie the Pooh'

In [79]:
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [80]:
answers['4'] = '110'

In [81]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [82]:
# лучше код получения столбца profit вынести в Предобработку что в начале - я не создаю здесь столбец profit
answers['5'] = '107'

In [83]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [84]:
# лучше код получения столбца profit вынести в Предобработку что в начале - я не создаю здесь столбец profit
answers['6'] = 'Avatar'

In [85]:
data[(data.revenue - data.budget) == (data.revenue - data.budget).max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [86]:
answers['7'] = 'The Lone Ranger'

In [87]:
data[(data.revenue - data.budget) == (data.revenue - data.budget).min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [88]:
answers['8'] = '1478'

In [89]:
s = data[(data.revenue - data.budget) > 0].value_counts()
display(len(s.index))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [90]:
answers['9'] = 'The Dark Knight'

In [91]:
data1 = data[data.release_year == 2008]
data1[data1.revenue == data1.revenue.max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [92]:
answers['10'] = 'The Lone Ranger'

In [93]:
data1 = data[(data.release_year>=2012)&(data.release_year<=2014)]
data1[(data1.revenue - data1.budget) == (data1.revenue - data1.budget).min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [94]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama'

In [95]:
genres_list1 =[]# Создаем пустой список genres_list_1.
genres_list = data.genres.tolist()# Переписываем столбец 'genres' в список genres list.

for i in range (0, (len(genres_list)-1)):# Этим циклом записываем в genres_list_1 каждый жанр, каждый раз когда встречаем.
    ls = genres_list[i].split('|')       
    for j in range (0, (len(ls)-1)):
        genres_list1.append(ls[j])
        
print(most_frequent(genres_list1))# С помощью функции most_frequent определяем наиболее частый элемент в genres_list_1

Drama

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [96]:
answers['12'] = 'Drama'

In [97]:
data_profitable = data[(data.revenue - data.budget) > 0]# Оставили в датафрейме только прибыльные фильмы.

genres_list1 =[]# Создаем пустой список genres_list_1.
genres_list = data_profitable.genres.tolist()# Переписываем столбец 'genres' в список genres list.

for i in range (0, (len(genres_list)-1)):# Этим циклом записываем в genres_list_1 каждый жанр, каждый раз когда встречаем.
    ls = genres_list[i].split('|')
    for j in range (0, (len(ls)-1)):
        genres_list1.append(ls[j])
        
print(most_frequent(genres_list1))# С помощью функции most_frequent определяем наиболее частый элемент в genres_list_1

Drama

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [98]:
answers['13'] = 'Peter Jackson'

In [99]:
grouped_data = data.groupby(['director']).sum()# Сгруппировали data по director.
grouped_data['revenue'] = grouped_data.revenue.apply(revenue_transformation)# Применили revenue_transformation для grouped_data.
grouped_data1 = grouped_data[~grouped_data.revenue.str.contains("not", na=False)]# Убрали строки где revenue = not_max.
display(grouped_data1)

                   budget     revenue  runtime  vote_average  release_year
director
Peter Jackson  1288000000  6490593685     1355          58.1         16059

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [100]:
answers['14'] = 'Robert Rodriguez'# Robert Rodriguez снял 6 Action фильмов. Michael Bay и Paul W.S. Anderson сняли по 7, но их 
#нет среди предложенных вариантов, как и Antoine Fuqua с Ridley Scott, так же снявших по 6 Action фильмов.

In [101]:
data_action = data[data.genres.str.contains("Action", na=False)]#Оставили в датафрейме только фильмы Action.
director_action = data_action.director.value_counts()# Преобразовали столбец director из data_action в серию director_action. 
display(director_action)

Michael Bay                7
Paul W.S. Anderson         7
Robert Rodriguez           6
Ridley Scott               6
Antoine Fuqua              6
                          ..
John Stockwell             1
Fyodor Bondarchuk          1
Dito Montiel               1
Joe Russo|Anthony Russo    1
John Erick Dowdle          1
Name: director, Length: 345, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [102]:
answers['15'] = 'Chris Hemsworth'

In [103]:
data_2012 = data[data.release_year ==2012]# Оставляем в датафрейме только фильмы 2012-го года.
data_2012['cast'] = data_2012['cast'].str.split('|')#Разделяем содержимое столбца cast по '|'.
data_2012 = data_2012.explode('cast')#Копируем строки где столбец cast содержит много элементов и кидаем элементы по копиям.
grouped_data = data_2012.groupby(['cast']).sum()#Группируем датафрейм по cast.
display(grouped_data[grouped_data.revenue == grouped_data.revenue.max()])

<ipython-input-103-d3c5991cf593>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2012['cast'] = data_2012['cast'].str.split('|')#Разделяем содержимое столбца cast по '|'.

                    budget     revenue  runtime  vote_average  release_year
cast
Chris Hemsworth  485000000  2027450773      458          24.8          8048

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [104]:
answers['16'] = 'Matt Damon'

In [105]:
high_budget_data = data[data.budget > data.budget.mean()]#Оставили в датафрейме только фильмы с бюджетом выше среднего.
actor_list = []#Создали пустой список actor_list.
actor_list_complicated = high_budget_data.cast.tolist()#Преобразовали столбец cast в список actor_list_complicated.

for i in range (0, (len(actor_list_complicated)-1)):#Этот цикл преобразует в правильный вид список актеров.
    ls = actor_list_complicated[i].split('|')
    for j in range (0, (len(ls)-1)):
        actor_list.append(ls[j])
print(most_frequent(actor_list))

Matt Damon

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [106]:
answers['17'] = 'Action'

In [107]:
data_with_Cage = data[data.cast.str.contains("Nicolas Cage", na=False)]#Оставили в датафрейме только фильмы с Кейджом.
genres_list_Cage =[]#Создали пустой список.
genres_list = data_with_Cage.genres.tolist()#Преобразовали genres столбец в список.
for i in range (0, (len(genres_list)-1)):#Этот цикл преобразует в правильный вид список жанров.
    ls = genres_list[i].split('|')
    for j in range (0, (len(ls)-1)):
        genres_list_Cage.append(ls[j])
print(most_frequent(genres_list_Cage))

Action

# 18. Самый убыточный фильм от Paramount Pictures

In [108]:
answers['18'] = 'K-19: The Widowmaker'

In [109]:
#Оставляем в датафрейме только убыточные фильмы от Paramount Pictures
data1 = data[(data.production_companies.str.contains("Paramount Pictures", na=False))&(data.revenue < data.budget)]
#Выводим самый убыточный
data1[(data1.revenue - data1.budget) == (data1.revenue - data1.budget).min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [110]:
answers['19'] = '2015'

In [111]:
grouped_data = data.groupby(['release_year']).sum()#Группируем датафрейм по годам выхода фильмов.
grouped_data['revenue'] = grouped_data.revenue.apply(revenue_transformation)# Определяем строку с максимальным значением revenue
grouped_data[~grouped_data.revenue.str.contains("not", na=False)]#Выводим ее.

                  budget      revenue  runtime  vote_average
release_year
2015          6780630004  25449202382    13355         755.2

# 20. Какой самый прибыльный год для студии Warner Bros?

In [112]:
answers['20'] = '2014'

In [113]:
data_Warner_Bros = data[data.production_companies.str.contains("Warner Bros", na=False)]
grouped_data = data_Warner_Bros.groupby(['release_year']).sum()
grouped_data['profit'] = grouped_data.revenue - grouped_data.budget
grouped_data['profit'] = grouped_data.profit.apply(profit_transformation)
most_expenseve_data = grouped_data[~grouped_data.profit.str.contains("not", na=False)]
display(most_expenseve_data)

                 budget     revenue  runtime  vote_average      profit
release_year
2014          947600000  3243064519     1576          88.9  2295464519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [114]:
answers['21'] = 'September'

In [115]:
date_list = []#Создаем пустой список, куда пишем месяца.
full_date_list = data.release_date.tolist()# Преобразовали столбец release_date в список полных дат.
for i in range (0, (len(full_date_list)-1)):# Этот цикл из полной даты выдергивает месяц и пишет в список date_list
    ls = full_date_list[i].split('/')
    date_list.append(ls[0])
print(most_frequent(date_list))

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [116]:
answers['22'] = '450'

In [117]:
data['release_date'] = data.release_date.apply(summer_movie_search)
summer_data = data[data.release_date.str.contains("summer", na=False)]
display(len(summer_data))

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [118]:
answers['23'] = 'Peter Jackson'

In [119]:
data['director'] = data['director'].str.split('|')# Разделяем столбец director по |
data = data.explode('director')# Копируем строки по количеству элементов в director и раскидываем элементы по копиям строк

s_common = data.director.value_counts()# Возвращаем серию режиссер - количество снятых им фильмов

data['release_date'] = data.release_date.apply(winter_movie_search)# Оставляем в датафрейме только фильмы вышедщие зимой
data_winter = data[data.release_date.str.contains("winter", na=False)]

s_winter = data_winter.director.value_counts()# Возвращаем серию режиссер - количество снятых им фильмов, вышедщих зимой

winter_parts_list = []
for i in range (0, (len(s_winter))):# Создаем список "долей" зимних фильмов для каждого режиссера из серии s_winter 
    for j in range (0, (len(s_common))):
        if s_winter.index[i] == s_common.index[j]:
            winter_parts_list.append(100*s_winter[i]/s_common[j])
        else:
            s_winter[i] = s_winter[i]

winter_directors_list = []
for i in range (0, (len(winter_parts_list))):# Создаем список режиссеров у которых все фильмы выходили зимой, в порядке убывания
    if winter_parts_list[i] != max(winter_parts_list):# по количеству фильмов.
        winter_parts_list[i] = winter_parts_list[i]
    else:
        winter_directors_list.append(s_winter.index[i])
        
display(winter_directors_list[0])# Выводим первый элемент списка winter_director_list

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [120]:
answers['24'] = 'Four By Two Productions'

In [121]:
data_1 = data.copy()
data_1['original_title_length'] = data_1.original_title.apply(lambda x: len(x))# Заменяем названия длинами названия
data_1['production_companies'] = data_1['production_companies'].str.split('|')# Разделяем студии по |
data_1 = data_1.explode('production_companies') # Копируем строки
#Группируем по студиям, оставляем серию со средними длинами названий, сортируем ее по убыванию.
data_1 = data_1.groupby(by = 'production_companies')['original_title_length'].mean().sort_values(ascending=False)
display(data_1.index[0])# Печатаем нулевой (он же максимальный) элемент серии.

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [122]:
answers['25'] = 'Midnight Picture Show'

In [123]:
data_1 = data.copy()
data_1['overview_words_length'] = data_1.overview.apply(lambda x: len(x.split(' ')))# Создаем столбец с длинами описаний.
data_1['production_companies'] = data_1['production_companies'].str.split('|')# Разделяем студии по |
data_1 = data_1.explode('production_companies') # Копируем строки
#Группируем по студиям, оставляем серию со средними длинами описаний, сортируем ее по убыванию.
data_1 = data_1.groupby(by = 'production_companies')['overview_words_length'].mean().sort_values(ascending=False)
display(data_1.index[0])# Печатаем нулевой (он же максимальный) элемент серии.

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [124]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [125]:
sorted_data = data.sort_values(by='vote_average', ascending=False)# Отсортировали датафрейм по убыванию рейтинга фильмов.
original_title_list = sorted_data.original_title.tolist()#Вытащили из датафрейма список с названиями фильмов.
best_original_title_list = original_title_list[:18]#Оставили в списке первые 19 элементов (один процент от общего числа фильмов).

display(best_original_title_list)# Вывод списка 1% лучщих фильмов по рейтингу

number = 0 # Для удобства возможность проверки введенных вручную фильмов (входит в число лучщих или нет)
original_title_for_check = str
original_title_for_check = input("Введите название фильма: ")  
number = best_original_title_list.count(original_title_for_check)
if number == 0:
    print('Такого фильма нет среди одного процента лучших по рейтингу.')
else:
    print('Этот фильм входит в один процент лучших по рейтингу.')

['The Dark Knight',
 'Interstellar',
 'The Imitation Game',
 'Room',
 'Inside Out',
 'Gone Girl',
 'The Grand Budapest Hotel',
 'Memento',
 'The Pianist',
 'Guardians of the Galaxy',
 '12 Years a Slave',
 'The Wolf of Wall Street',
 'The Lord of the Rings: The Return of the King',
 'Inception',
 'The Theory of Everything',
 'The Lord of the Rings: The Two Towers',
 'Prisoners',
 'Dallas Buyers Club']

Введите название фильма: The Dark Knight
Этот фильм входит в один процент лучших по рейтингу.

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [126]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [132]:
cast_combinations = data.copy()
cast_combinations['cast_split'] = cast_combinations['cast'].str.split('|')# Разделяем столбец с актерами по |
#Создаем столбец с возможными комбинациями
cast_combinations['cast_together']=cast_combinations.cast_split.apply(lambda x: list(combinations(x, 2)))
list1 = cast_combinations.cast_together.tolist()# Вытаскиваем созданный столбец в список.

couple_list = []# Этим циклом превращаем "список списков" пар в список пар.
for i in range (0, (len(list1)-1)):
    st = str(list1[i])
    ls = st.split('),')
    for j in range (0, (len(ls)-1)):
        couple_list.append(ls[j])
        
print(most_frequent(couple_list))# Выводим наиболее часто повторяющуюся пару

[('Daniel Radcliffe', 'Rupert Grint'

# Submission

In [133]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'September',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [134]:
# и убедиться что ни чего не пропустил)
len(answers)

27